* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 20%;
  height: 100%; /* only for demonstration, should be removed */
  background: #ccc;
  border: solid blue 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  border: solid yellow 10px;
}

nav li a{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: white;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 100%; /* only for demonstration, should be removed */
border: solid green 10px;
}
section{
  border: solid #942626 10px;
    overflow:auto;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 800px) {
  nav li a {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }
    article {
    width: 100%;
    height: auto;
    position: relative;
  }
  nav ul li a {
    float: left;
    padding: 15px;
  }
}