table {
  width: 100%;/* Adjust width as needed */
  border: 1px solid black;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Optional: for a subtle shadow effect */
}
table, th, td {
  border: 1px solid white;
    padding: 10px; /* Adjust padding as needed */
    text-align: center; /* Center align text in table cells */
    font-family: Arial, sans-serif; /* Change font as needed */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 10px; /* Optional: for rounded corners */
}
th, td {
    border: 5px solid rgb(125, 168, 242);
  border-style: inset;
}