div{
    background-color: lightblue;
    width:40%;
    float: left;
    border: 2px solid black;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    height: 100px;
}
.parent{
    height: 500px;
}

.child{
    height: 150px;
    width: 45%;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    margin: 2%;
    float: left;
}